<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Recuperar senha por E-mail</title>
</head>
<body>
	Olá {{user.username }},

	Voce solicitou a redefinição de senha para sua conta em nosso site.
	Por favor, clique no link abaixo para definir uma nova senha:

	{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
	Se voce nao solicitou isso, por favor ignore este e-mail.

	Obrigado,
	Equipe do site
</body>
</html>